/*-- scss:defaults --*/

// import font from google fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

// Colors
$green: #5C6E6C;
$lt-green: #EBF3E8;
$tan: #D2A96A;
$coral: #D39D87;
$copper: #BB7154;
$white: #FBFBFB;

// Base document colors
$navbar-bg: $green; // navbar
$navbar-fg: $white; // navbar foreground elements
$navbar-hl: $coral; // highlight color when hovering over navbar links
$body-bg: $lt-green; // page background 
$body-color: $green; // page text 
$footer-bg: $green; // footer 
$link-color: $copper; // hyperlinks 

// Inline code
$code-bg: $coral; // inline code background color
$code-color: $copper; // inline code text color